.bg {
  height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/77d35039-751f-4c3e-9c8d-1240c1ca6188/cf244808-d722-428f-80a9-052acdf158ec/IN-en-20231106-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-size: cover;
  background-position: center;
}
.bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.671);
  text-align: center;
  padding: 30px;
}
